@use 'partials/reset';
@import 'components/btn', 'components/form', 'components/modal';

.mainContent {
  // outline: 1px solid var(--dark);
  padding: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.btn__modal {
  width: 100%;
  text-align: center;

  @media (max-width: 250px) {
    width: 7.5rem;
  }
}

:is(.btn__dark, .btn__gray, .btn__gray--outline, .btn--not_allowed) {
  outline: none;
  transition: none;
  transition: background-color 500ms ease-in-out;
}
:is(.btn__gray, .btn--not_allowed) {
  background-color: #929299;
  color: #e5e5e6;

  &:hover {
    background-color: #a4a4a9;
    color: #e5e5e6;
  }
}

.btn__dark {
  background-color: var(--dark);
  color: var(--light);

  &:hover {
    background-color: #53535d;
  }
}

.btn__gray--outline {
  transition: none;
  transition: opacity 600ms ease-in-out;
  outline: 1px solid #7d7d83;
  color: #7d7d83;

  &:hover {
    opacity: 0.8;
    background-color: var(--light_bg);
    color: #7d7d83;
  }
}

.btn--not_allowed {
  cursor: not-allowed;
}

.form__dialog {
  width: 100%;
  // outline: 1px solid black;
  margin: 0.4rem auto;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  @media (max-width: 250px) {
    flex-direction: column;
    gap: 1rem;
  }
}
