# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sass
src/sass/**/.sass-cache/
src/sass/**/*.css.map
src/sass/**/*.sass.map
src/sass/**/*.scss.map

# CSS
static/styles/*.map
static/styles/**/*.map
static/styles/**/.sass-cache/

# Custom
.env
src/**/*.md
static/icons/animations.less
static/icons/success.svg
static/icons/error.svg
src/data/test.txt
