:is(.modal, .modal[open]) {
  @media (min-width: 1920px) {
    max-height: 32rem;
    max-width: 30rem;
  }

  // First Mobile
  @media (max-width: 500px) {
    max-width: 18rem;
  }
  @media (max-width: 420px) {
    max-width: 15rem;
  }
  @media (max-width: 350px) {
    max-width: 12rem;
  }
  @media (max-width: 320px) {
    max-width: 9rem;
  }
  @media (max-width: 270px) {
    max-width: 8rem;
  }
  @media (max-width: 250px) {
    max-width: 6rem;
  }

  max-height: 36rem;
  max-width: 22rem;
  overflow-x: hidden;
  outline: none;
  // padding: 1.5rem 3rem;
  padding: 1.5rem 0;
  border-radius: 0.3rem;
  background-color: var(--light_bg);
  color: var(--dark);
  box-shadow: rgba(black, 0.09) 0 0.1875rem 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  inset: 0;
  margin: auto;
  position: fixed;

}

.modal {
  scale: 0;
  translate: 0;
  clip-path: circle();
  opacity: 0;
  filter: brightness(5%);
  transition:
    clip-path 600ms ease,
    filter 600ms ease,
    scale 600ms ease,
    opacity 600ms ease,
    translate 600ms ease,
    display 600ms ease allow-discrete;

  &[open] {
    scale: 1;
    translate: 0;
    opacity: 1;
    clip-path: none;
    filter: none;
    transition:
      clip-path 500ms ease-in-out,
      filter 500ms ease-in-out,
      scale 500ms ease-in-out,
      opacity 500ms ease-in-out,
      translate 500ms ease-in-out;

    @starting-style {
      opacity: 0;
      scale: 0;
      filter: none;
      clip-path: none;
      translate: 0 -30%;
    }
  }

  &::backdrop,
  &::-webkit-backdrop {
    background-color: rgba(black, 0.4);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
  }
}
