:is(.modal, .modal[open]) {
  @media (min-width: 1920px) {
    width: 28rem;
  }

  // First Mobile
  @media (max-width: 500px) {
    width: 18rem;
  }
  @media (max-width: 420px) {
    width: 14rem;
  }
  @media (max-width: 400px) {
    width: 12rem;
  }
  @media (max-width: 320px) {
    width: 10rem;
  }
  @media (max-width: 300px) {
    width: 8rem;
  }
  @media (max-width: 250px) {
    width: 5rem;
  }

  width: 22rem;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  padding: 1.5rem 3rem;
  border-radius: var(--rounded-sm);
  background-color: var(--light_bg);
  color: var(--dark);
  box-shadow: rgba(black, 0.09) 0 0.1875rem 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  inset: 0;
  margin: auto;
}

.modal {
  scale: 0;
  translate: 0 30%;
  transition:
    scale 400ms ease,
    translate 800ms ease,
    display 400ms ease allow-discrete;

  &[open] {
    scale: 1;
    translate: 0;
    transition: scale 400ms ease-in-out, translate 800ms ease;

    @starting-style {
      scale: 0;
      translate: 0;
    }
  }

  &::-webkit-backdrop {
    background-color: rgba(black, 0.4);
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
  }

  &::backdrop {
    background-color: rgba(black, 0.4);
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
  }
}
