@charset "UTF-8";
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 200;
  src: url("./../fonts/mulish/Mulish-ExtraLight.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 200;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 300;
  src: url("./../fonts/mulish/Mulish-Light.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 300;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-LightItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 400;
  src: url("./../fonts/mulish/Mulish-Regular.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 400;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-Italic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 500;
  src: url("./../fonts/mulish/Mulish-Medium.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 500;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-MediumItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 600;
  src: url("./../fonts/mulish/Mulish-SemiBold.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 600;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 700;
  src: url("./../fonts/mulish/Mulish-Bold.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 700;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-BoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 800;
  src: url("./../fonts/mulish/Mulish-ExtraBold.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 800;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 900;
  src: url("./../fonts/mulish/Mulish-Black.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 900;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-BlackItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 1000;
  src: url("./../fonts/mulish/Mulish-VariableFont_wght.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 1000;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-Italic-VariableFont_wght.ttf");
}
:root {
  --light: #c4caca;
  --dark: #1d1e24;
  --error: rgb(197, 48, 48);
  --light_bg: #ffffff;
  --selection_color: #d3d8dd;
  --main_font: "mulish";
}

/**
 * (Opcional) Configuramos si un usuario ha
 * activado el modo alto contraste. (WD)
 */
/* @media (prefers-contrast: high) {
  :root {
  }
} */
/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--selection_color);
  color: inherit;
}

/**
 * (Opcional)  Desactivamos los animations en el
 * caso de que el usuario haya configurado el modo
 * sin animation.
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
}

/* Para ocultar la flecha de los elemento que se colapsan */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

button {
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #c0c5ca;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #dddedf;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ebebeb;
}

body {
  font-size: 16px;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--main_font), sans-serif;
  background-color: var(--light_bg);
  color: var(--dark);
  line-height: 1.25;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media (min-width: 1920px) {
  body {
    font-size: 1.3rem;
  }
}

.loader {
  --width: 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: var(--width) solid var(--dark);
  user-select: none;
  pointer-events: none;
  border-right: var(--width) solid transparent;
  animation: rotation 825ms linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__ellipsis__container {
  position: relative;
  width: 80px;
  height: 1rem;
  /* & > * {
    box-sizing: border-box;
  } */
}
.loader__ellipsis__container div {
  position: absolute;
  top: 1.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader__ellipsis__container .loader__ellipsis__child-1, .loader__ellipsis__container .loader__ellipsis__child-2 {
  left: 0.5rem;
}
.loader__ellipsis__container .loader__ellipsis__child-2, .loader__ellipsis__container .loader__ellipsis__child-3 {
  animation: loader_ellipsis_animation2 1s infinite;
}
.loader__ellipsis__container .loader__ellipsis__child-1 {
  animation: loader_ellipsis_animation1 1s infinite;
}
.loader__ellipsis__container .loader__ellipsis__child-3 {
  left: 2rem;
}
.loader__ellipsis__container .loader__ellipsis__child-4 {
  left: 3.5rem;
  animation: loader_ellipsis_animation3 1s infinite;
}

@keyframes loader_ellipsis_animation1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader_ellipsis_animation2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loader_ellipsis_animation3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes navBrandFadeIn {
  from {
    margin: 0 0 0 -2rem;
    opacity: 0;
  }
  to {
    margin: 0 0 0 4rem;
    opacity: 1;
  }
}
@keyframes navListFadeIn {
  from {
    margin: 0 -2rem 0 0;
    opacity: 0;
  }
  to {
    margin: 0 4rem 0 0;
    opacity: 1;
  }
}
.nav {
  height: 3.2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 30, 36, 0.4);
  padding: 0.5rem 0;
}
.nav .nav__brand {
  margin: 0 0 0 4rem;
  width: max-content;
  border: none;
  animation: navBrandFadeIn 800ms ease;
}
.nav .nav__brand .nav__title {
  font-size: 1.2rem;
  font-weight: 700;
}
.nav .nav__list {
  margin: 0 4rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: navListFadeIn 800ms ease;
  gap: 1.5rem;
}
.nav .nav__list .nav__item {
  font-size: 1rem;
  font-weight: 500;
  transition: color 550ms ease-in-out;
  color: rgba(29, 30, 36, 0.6);
}
.nav .nav__list .nav__item:hover {
  color: rgba(29, 30, 36, 0.8);
}
.nav .nav__list .nav__item svg path {
  stroke: rgba(29, 30, 36, 0.8);
  border: none;
  outline: none;
  transition: stroke 550ms ease-in-out;
}
.nav .nav__list .nav__item:hover svg path {
  stroke: rgba(29, 30, 36, 0.6);
}
.nav .nav__list .nav__item--active {
  color: var(--dark);
  border-radius: 0.15rem;
  padding: 0.4rem 0.6rem;
  outline: 1px solid rgba(29, 30, 36, 0.8);
  transition: color 550ms ease-in-out, outline 550ms ease-in-out;
}
.nav .nav__list .nav__item--active:hover {
  color: rgba(29, 30, 36, 0.6);
  outline: 1px solid rgba(29, 30, 36, 0.6);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
  user-select: none;
  padding: 0.4rem 1rem;
  outline: 1px solid var(--dark);
  border-radius: 0.2rem;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
.btn:hover {
  background-color: var(--dark);
  color: var(--light);
}

.form {
  display: flex;
}

:is(.modal, .modal[open]) {
  max-height: 25rem;
  max-width: 22rem;
  overflow-x: hidden;
  outline: none;
  padding: 1.5rem 0;
  border-radius: var(--rounded-sm);
  background-color: var(--light_bg);
  color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.09) 0 0.1875rem 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  inset: 0;
  margin: auto;
  position: fixed;
}
@media (min-width: 1920px) {
  :is(.modal, .modal[open]) {
    max-height: 32rem;
    max-width: 30rem;
  }
}
@media (max-width: 500px) {
  :is(.modal, .modal[open]) {
    max-width: 18rem;
  }
}
@media (max-width: 420px) {
  :is(.modal, .modal[open]) {
    max-width: 15rem;
  }
}
@media (max-width: 350px) {
  :is(.modal, .modal[open]) {
    max-width: 12rem;
  }
}
@media (max-width: 320px) {
  :is(.modal, .modal[open]) {
    max-width: 9rem;
  }
}
@media (max-width: 270px) {
  :is(.modal, .modal[open]) {
    max-width: 8rem;
  }
}
@media (max-width: 250px) {
  :is(.modal, .modal[open]) {
    max-width: 6rem;
  }
}

.modal {
  scale: 0;
  translate: 0;
  clip-path: circle();
  opacity: 0;
  filter: brightness(5%);
  transition: clip-path 600ms ease, filter 600ms ease, scale 600ms ease, opacity 600ms ease, translate 600ms ease, display 600ms ease allow-discrete;
}
.modal[open] {
  scale: 1;
  translate: 0;
  opacity: 1;
  clip-path: none;
  filter: none;
  transition: clip-path 500ms ease-in-out, filter 500ms ease-in-out, scale 500ms ease-in-out, opacity 500ms ease-in-out, translate 500ms ease-in-out;
}
@starting-style {
  .modal[open] {
    opacity: 0;
    scale: 0;
    filter: none;
    clip-path: none;
    translate: 0 -30%;
  }
}
.modal::backdrop, .modal::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

.input {
  outline: none;
  padding: 1rem 0.8rem;
  letter-spacing: 0.2px;
  font-size: 1.1rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.03);
  color: var(--dark);
  border-bottom: 2px solid rgba(29, 30, 36, 0.4);
  position: relative;
  transition: color 500ms ease-in-out, border-bottom 500ms ease-in-out;
}
.input:focus {
  border-bottom: 2px solid var(--dark);
}

.input--error {
  color: var(--error);
  background-color: rgba(197, 48, 48, 0.03);
  border-bottom: 2px solid var(--error);
  caret-color: var(--error);
}
.input--error::selection {
  background-color: rgba(197, 48, 48, 0.08);
}
.input--error:focus {
  border-bottom: 2px solid var(--error);
}
.input--error::placeholder {
  color: rgba(197, 48, 48, 0.8);
}

.search__input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.search__input__container .search__icon__container {
  position: absolute;
  top: 39%;
  left: 5%;
}
.search__input__container .search__input {
  width: 20rem;
  padding-top: 1.5rem;
  padding-left: 3.25rem;
}
@media (max-width: 500px) {
  .search__input__container .search__input {
    width: 12rem;
  }
}

.table__container {
  width: 88vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}
@media (max-width: 642px) {
  .table__container {
    margin: -1rem 0 0 0;
  }
}

.table {
  width: 100%;
  text-align: center;
  border: none;
  border-collapse: collapse;
  white-space: nowrap;
  overflow-x: hidden;
}
.table thead tr th {
  width: 8rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  .table thead tr th {
    width: 5rem;
    font-size: 1rem;
  }
}
.table tbody tr td {
  width: 8rem;
  max-height: 3rem;
  height: 2.5rem;
  vertical-align: middle;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  .table tbody tr td {
    font-size: 1rem;
    width: 5rem;
  }
}
@media (max-width: 642px) {
  .table {
    margin: 0 0 1.5rem 25rem;
  }
}
@media (max-width: 500px) {
  .table {
    margin: 0 0 1.5rem 32rem;
  }
}
@media (max-width: 360px) {
  .table {
    margin: 0 0 1.5rem 35rem;
  }
}
@media (min-width: 768px) and (min-height: 1024px) {
  .table {
    margin: 0 0 1.5rem 10.5rem;
  }
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .table {
    margin: 0 0 1.5rem 0;
  }
}
@media (min-width: 912px) and (min-height: 1368px) {
  .table {
    margin: 0 0 1.5rem 2.5rem;
  }
}
@media (min-width: 1920px) {
  .table {
    margin: 0 0 1.5rem 0;
  }
}

.actions__buttons__container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.actions__buttons__container span {
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 400ms ease-in-out;
}
.actions__buttons__container span:nth-child(1):hover {
  background-color: rgba(215, 236, 255, 0.8);
}
.actions__buttons__container span:nth-child(1) svg:nth-child(1) {
  fill: rgba(122, 122, 122, 0.8);
}
.actions__buttons__container span:nth-child(1):hover svg:nth-child(1):hover {
  fill: rgb(74, 118, 156);
}
.actions__buttons__container span:nth-child(2):hover {
  background-color: rgb(255, 215, 215);
}
.actions__buttons__container span:nth-child(2) svg g:nth-child(3) path {
  fill: rgba(122, 122, 122, 0.8);
}
.actions__buttons__container span:nth-child(2):hover svg g:nth-child(3) path {
  fill: rgb(170, 30, 30);
}
:is(.actions__buttons__container span svg:nth-child(1), .actions__buttons__container span svg g:nth-child(3) path) {
  padding: 0.4rem;
  border-radius: 50%;
  transition: fill 400ms ease;
}
.actions__buttons__container span svg:nth-child(1):hover {
  fill: red;
}

@keyframes fadeIn {
  from {
    translate: -25px 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}
.main {
  width: 90vw;
  padding: 2rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  animation: fadeIn 800ms ease;
  gap: 1rem;
}
@media (max-width: 880px) {
  .main {
    align-items: start;
    padding: 2rem 0 0 2rem;
  }
}
@media (max-width: 642px) {
  .main {
    align-items: center;
    padding: 2rem 0 0 0;
    margin: 0 auto 1rem auto;
    gap: 1.5rem;
  }
}

@media (max-width: 500px) {
  .welcome_message,
  .title,
  .small {
    align-self: center;
  }
  .main #btn__modal {
    align-self: center;
  }
}
.welcome_message {
  margin: 1rem 0 0 0;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .welcome_message {
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex-direction: column;
    text-align: center;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 200;
}
.title strong {
  font-weight: 200;
}
@media (max-width: 500px) {
  .title {
    font-size: 2.6rem;
    text-align: center;
  }
}

.small {
  margin: 0;
  padding: 0;
  max-width: 50rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.small strong {
  font-weight: 700;
}
@media (max-width: 880px) {
  .small {
    max-width: 90vw;
  }
}
@media (max-width: 500px) {
  .small {
    max-width: 80vw;
    text-align: justify;
  }
}

:is(.btn__dark, .btn__gray, .btn__gray--outline, .btn--not_allowed) {
  outline: none;
  transition: none;
  transition: background-color 500ms ease-in-out;
}

:is(.btn__gray, .btn--not_allowed) {
  background-color: #929299;
  color: #e5e5e6;
}
:is(.btn__gray, .btn--not_allowed):hover {
  background-color: #a4a4a9;
  color: #e5e5e6;
}

.btn__dark {
  background-color: var(--dark);
  color: var(--light);
}
.btn__dark:hover {
  background-color: #53535d;
}

.btn__gray--outline {
  transition: color 600ms ease-in-out;
  outline: 1px solid #7d7d83;
  background-color: #eaeff2;
  color: #69696c;
}
.btn__gray--outline:hover {
  background-color: #ecf1f5;
  color: #69696c;
}

.btn--not_allowed {
  cursor: not-allowed;
}

.btn#btn__modal {
  align-self: flex-end;
}
@media (max-width: 642px) {
  .btn#btn__modal {
    width: 65%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .btn#btn__modal {
    width: 65%;
  }
}

.btn#btn__modal > svg > g > g > path {
  transition: stroke 500ms ease-in-out;
}

.btn#btn__modal:hover > svg > g > g > path {
  stroke: var(--light);
}

.btn__modal {
  width: 100%;
  text-align: center;
}
@media (max-width: 250px) {
  .btn__modal {
    width: 7.5rem;
  }
}

:is(.modal, .modal[open]) {
  width: 25rem;
  padding: 1.5rem 3rem;
}
:is(.modal, .modal[open]) h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.form__cancel {
  margin: 1rem 0 0 0rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn__cancel {
  padding: 0;
  font-size: 1.5rem;
  outline: none;
}
.btn__cancel:hover {
  background-color: transparent;
}

.dialog__buttons__container {
  width: 100%;
  margin: 0.4rem auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
@media (max-width: 350px) {
  .dialog__buttons__container {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.dialog__buttons__container button, .dialog__buttons__container form > button {
  max-width: 12rem;
  width: 9.5rem;
}
@media (min-width: 1920px) {
  .dialog__buttons__container button, .dialog__buttons__container form > button {
    max-width: 12rem;
    width: 10.5rem;
  }
}
@media (max-width: 500px) {
  .dialog__buttons__container button, .dialog__buttons__container form > button {
    max-width: 7rem;
    width: 7rem;
  }
}
@media (max-width: 350px) {
  .dialog__buttons__container button, .dialog__buttons__container form > button {
    width: 8rem;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 1rem 0 0 0;
  padding: 0 2rem 2rem 0;
}
.container h2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  margin: 5rem auto 0 auto;
}
@media (max-width: 500px) {
  .container h2 {
    margin: 3rem auto 0 auto;
    gap: 0;
    font-size: 2.5rem;
  }
}
@media (max-width: 642px) {
  .container {
    width: 100%;
    align-self: center;
    justify-self: center;
    margin: 2rem auto 0 auto;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
    margin: 2rem auto 0 auto;
  }
}
.container .header__form__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 642px) {
  .container .header__form__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.new__person__form {
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

:is(.welcome__modal, .welcome__modal[open]) {
  width: 25rem;
  padding: 2rem 3rem;
}
:is(.welcome__modal, .welcome__modal[open]) h1 {
  opacity: 0.5;
  font-size: 1.2rem;
  user-select: none;
}
:is(.welcome__modal, .welcome__modal[open]) h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
:is(.welcome__modal, .welcome__modal[open]) p {
  font-size: 1.28rem;
  margin: 0 0 0.5rem 0;
}
:is(.welcome__modal, .welcome__modal[open]) p span {
  font-weight: 600;
  color: rgb(60, 170, 106);
}
:is(.welcome__modal, .welcome__modal[open]) form {
  gap: 0.5rem;
}
:is(.welcome__modal, .welcome__modal[open])::backdrop, :is(.welcome__modal, .welcome__modal[open])::-webkit-backdrop {
  background-color: rgba(128, 128, 128, 0.06);
}

.error__message {
  color: var(--error);
  font-weight: 500;
  transition: opacity 800ms ease-in-out;
  margin: 0 0 1rem 0;
}
.error__message::selection {
  background-color: rgb(255, 215, 215);
}

.btn__dark--disabled {
  cursor: not-allowed;
  color: #8f9090;
  background-color: rgba(143, 144, 144, 0.3);
}
.btn__dark--disabled:hover {
  color: #838383;
  background-color: rgba(143, 144, 144, 0.6);
}

.loader__submit__btn {
  height: 1rem;
  width: 1rem;
  border-top: 1px solid #1d1e24;
}

/*# sourceMappingURL=main.css.map */
