@charset "UTF-8";
@font-face {
  font-family: "mulish";
  font-weight: 200;
  src: url("./../fonts/mulish/Mulish-ExtraLight.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 200;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 300;
  src: url("./../fonts/mulish/Mulish-Light.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 300;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-LightItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-display: fallback;
  font-weight: 400;
  src: url("./../fonts/mulish/Mulish-Regular.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 400;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-Italic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 500;
  src: url("./../fonts/mulish/Mulish-Medium.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 500;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-MediumItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 600;
  src: url("./../fonts/mulish/Mulish-SemiBold.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 600;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 700;
  src: url("./../fonts/mulish/Mulish-Bold.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 700;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-BoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 800;
  src: url("./../fonts/mulish/Mulish-ExtraBold.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 800;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 900;
  src: url("./../fonts/mulish/Mulish-Black.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 900;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-BlackItalic.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 1000;
  src: url("./../fonts/mulish/Mulish-VariableFont_wght.ttf");
}
@font-face {
  font-family: "mulish";
  font-weight: 1000;
  font-style: italic;
  src: url("./../fonts/mulish/Mulish-Italic-VariableFont_wght.ttf");
}
:root {
  --light: #c4caca;
  --dark: #1d1e24;
  --light_bg: #ffffff;
  --dark_bg: #1e1e23;
  --selection_color: #d3d8dd;
  --dark-selection_color: #2a2a2e;
  --rounded-sm: 0.375rem;
  --main_font: "mulish";
}

/**
 * (Opcional) Configuramos si un usuario ha
 * activado el modo alto contraste. (WD)
 */
/* @media (prefers-contrast: high) {
  :root {
  }
} */
/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--selection_color);
  color: inherit;
}

/**
 * (Opcional)  Desactivamos los animations en el
 * caso de que el usuario haya configurado el modo
 * sin animation.
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
}

/* Para ocultar la flecha de los elemento que se colapsan */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

button {
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--light);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #a4abae;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #949a9c;
}

body {
  font-size: 16px;
  min-height: 100vh;
  width: 100vw;
  font-family: var(--main_font), sans-serif;
  background-color: var(--light_bg);
  color: var(--dark);
  line-height: 1.25;
  hyphens: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@media (min-width: 1920px) {
  body {
    font-size: 1.3rem;
  }
}

.loader {
  --width: 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-top: var(--width) solid var(--dark);
  user-select: none;
  pointer-events: none;
  border-right: var(--width) solid transparent;
  animation: rotation 825ms linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader__ellipsis__container {
  position: relative;
  width: 80px;
  height: 1rem;
  /* & > * {
    box-sizing: border-box;
  } */
}
.loader__ellipsis__container div {
  position: absolute;
  top: 1.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--dark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader__ellipsis__container .loader__ellipsis__child-1, .loader__ellipsis__container .loader__ellipsis__child-2 {
  left: 0.5rem;
}
.loader__ellipsis__container .loader__ellipsis__child-2, .loader__ellipsis__container .loader__ellipsis__child-3 {
  animation: loader_ellipsis_animation2 1s infinite;
}
.loader__ellipsis__container .loader__ellipsis__child-1 {
  animation: loader_ellipsis_animation1 1s infinite;
}
.loader__ellipsis__container .loader__ellipsis__child-3 {
  left: 2rem;
}
.loader__ellipsis__container .loader__ellipsis__child-4 {
  left: 3.5rem;
  animation: loader_ellipsis_animation3 1s infinite;
}

@keyframes loader_ellipsis_animation1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader_ellipsis_animation2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes loader_ellipsis_animation3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loader__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes navBrandFadeIn {
  from {
    margin: 0 0 0 -2rem;
    opacity: 0;
  }
  to {
    margin: 0 0 0 4rem;
    opacity: 1;
  }
}
@keyframes navListFadeIn {
  from {
    margin: 0 -2rem 0 0;
    opacity: 0;
  }
  to {
    margin: 0 4rem 0 0;
    opacity: 1;
  }
}
.nav {
  height: 3.2rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(29, 30, 36, 0.4);
  padding: 0.5rem 0;
}
.nav .nav__brand {
  margin: 0 0 0 4rem;
  width: max-content;
  border: none;
  animation: navBrandFadeIn 800ms ease;
}
.nav .nav__brand .nav__title {
  font-size: 1.2rem;
  font-weight: 700;
}
.nav .nav__list {
  margin: 0 4rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: navListFadeIn 800ms ease;
  gap: 1.5rem;
}
.nav .nav__list .nav__item {
  font-size: 1rem;
  font-weight: 500;
  transition: color 550ms ease-in-out;
  color: rgba(29, 30, 36, 0.6);
}
.nav .nav__list .nav__item:hover {
  color: rgba(29, 30, 36, 0.8);
}
.nav .nav__list .nav__item svg path {
  stroke: rgba(29, 30, 36, 0.8);
  border: none;
  outline: none;
  transition: stroke 550ms ease-in-out;
}
.nav .nav__list .nav__item:hover svg path {
  stroke: rgba(29, 30, 36, 0.6);
}
.nav .nav__list .nav__item--active {
  color: var(--dark);
  border-radius: 0.15rem;
  padding: 0.4rem 0.6rem;
  outline: 1px solid rgba(29, 30, 36, 0.8);
  transition: color 550ms ease-in-out, outline 550ms ease-in-out;
}
.nav .nav__list .nav__item--active:hover {
  color: rgba(29, 30, 36, 0.6);
  outline: 1px solid rgba(29, 30, 36, 0.6);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: capitalize;
  user-select: none;
  padding: 0.4rem 1rem;
  outline: 1px solid var(--dark);
  border-radius: 0.2rem;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}
.btn:hover {
  background-color: var(--dark);
  color: var(--light);
}

.form {
  display: flex;
}

:is(.modal, .modal[open]) {
  max-height: 25rem;
  max-width: 22rem;
  overflow-x: hidden;
  outline: none;
  padding: 1.5rem 3rem;
  border-radius: var(--rounded-sm);
  background-color: var(--light_bg);
  color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.09) 0 0.1875rem 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  inset: 0;
  margin: auto;
  position: relative;
}
@media (min-width: 1920px) {
  :is(.modal, .modal[open]) {
    max-height: 32rem;
    max-width: 30rem;
  }
}
@media (max-width: 500px) {
  :is(.modal, .modal[open]) {
    max-width: 18rem;
  }
}
@media (max-width: 420px) {
  :is(.modal, .modal[open]) {
    max-width: 15rem;
  }
}
@media (max-width: 350px) {
  :is(.modal, .modal[open]) {
    max-width: 12rem;
  }
}
@media (max-width: 320px) {
  :is(.modal, .modal[open]) {
    max-width: 9rem;
  }
}
@media (max-width: 270px) {
  :is(.modal, .modal[open]) {
    max-width: 8rem;
  }
}
@media (max-width: 250px) {
  :is(.modal, .modal[open]) {
    max-width: 6rem;
  }
}

.modal {
  scale: 0;
  translate: 0 100%;
  transition: scale 400ms ease, translate 800ms ease, display 400ms ease allow-discrete;
}
.modal[open] {
  scale: 1;
  translate: 0;
  transition: scale 400ms ease-in-out, translate 800ms ease;
}
@starting-style {
  .modal[open] {
    scale: 0;
    translate: 0;
  }
}
.modal::backdrop, .modal::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

@keyframes fadeIn {
  from {
    margin: 0 0 0 -25px;
    opacity: 0;
  }
  to {
    margin: 0;
    opacity: 1;
  }
}
.main {
  padding: 2rem 0 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  animation: fadeIn 800ms ease;
  gap: 1rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 200;
}

.small {
  margin: 0;
  padding: 0;
  max-width: 50rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.small strong {
  font-weight: 700;
}

.btn#btn__modal > svg > g > g > path {
  transition: stroke 500ms ease-in-out;
}

.btn#btn__modal:hover > svg > g > g > path {
  stroke: var(--light);
}

.btn__modal {
  width: 100%;
  text-align: center;
}
@media (max-width: 250px) {
  .btn__modal {
    width: 7.5rem;
  }
}

:is(.btn__dark, .btn__gray, .btn__gray--outline, .btn--not_allowed) {
  outline: none;
  transition: none;
  transition: background-color 500ms ease-in-out;
}

:is(.btn__gray, .btn--not_allowed) {
  background-color: #929299;
  color: #e5e5e6;
}
:is(.btn__gray, .btn--not_allowed):hover {
  background-color: #a4a4a9;
  color: #e5e5e6;
}

.btn__dark {
  background-color: var(--dark);
  color: var(--light);
}
.btn__dark:hover {
  background-color: #53535d;
}

.btn__gray--outline {
  transition: color 600ms ease-in-out;
  outline: 1px solid #7d7d83;
  background-color: #eaeff2;
  color: #69696c;
}
.btn__gray--outline:hover {
  background-color: #ecf1f5;
  color: #69696c;
}

.btn--not_allowed {
  cursor: not-allowed;
}

.form__dialog__buttons > button {
  max-width: 8rem;
}

.form__dialog__buttons {
  width: 100%;
  margin: 0.4rem auto;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
@media (max-width: 250px) {
  .form__dialog__buttons {
    flex-direction: column;
    gap: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
