:is(.welcome__modal, .welcome__modal[open]) {
  width: 25rem;
  padding: 2rem 3rem;

  h1 {
    opacity: 0.5;
    font-size: 1.2rem;
    user-select: none;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 1.28rem;
    margin: 0 0 0.5rem 0;

    span {
      font-weight: 600;
      color: rgb(60, 170, 106);
    }
  }

  form {
    gap: 0.5rem;
  }

  &::backdrop,
  &::-webkit-backdrop {
    background-color: rgba(grey, 0.06);
  }
}
