// Breakpoints

:root {
  // Colors
  --light: #c4caca;
  --dark: #1d1e24;
  --light_bg: #ffffff;
  --dark_bg: #1e1e23;
  --selection_color: #d3d8dd;
  --dark-selection_color: #2a2a2e;

  // Utilities
  --rounded-sm: 0.375rem;

  // Fonts
  --main_font: 'mulish';
}

